<h2>Link Details </h2>

<h4>Link:</h4>
<p><%= @link.name %></p><br>

<h4>Description:</h4>
<p><%= @link.description %></p><br><br>

<h4>Category: </h4>
<p><%= @link.category %></p><br><br>

<p>Need to make changes? Edit link details <a href="/links/<%= @link.id %>/edit">here</a>.</p><br><br>

<form method="POST" action="/links/<%= @link.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete Link"><br>
</form><br>

<p><a href="/home">Home</a> |        
<a href="/logout">Log out</a></p>

