<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>

<h2>Category: <%= @category.name.upcase %></h2>
<h3>Associated Category Links:</h3>
<li>_______________________________________</li><br>

<% @category.links.each do |link| %>
<h4>Link</h4><br>
  <li><%= link.name %></li><br><br>
  <h4>Description:</h4><br>
  <li><%= link.description %></li><br><br>
  <li><a href="/categories/<%= @category.id %>/edit">Edit Link's Category</a></li><br>
  <li>_______________________________________</li><br>
<% end %><br><br>
        

<a href="/categories">Category List</a> |  
<a href="/home">Home</a> |       
<a href="/logout">Log out</a>


    
 
