<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>

<h2>Category: <%= @category.name %></h2>
<h4>Links:</h4>

<% @category.links.each do |link| %>
<% binding.pry %>
  <li><%= link.name %></li>
  <li><%= link.description %></li>
   <li><a href="links/<%= link.id %>/edit">Edit</a></li>
<% end %><br><br>
        

<a href="/categories">Category List</a> |  
<a href="/home">Home</a> |       
<a href="/logout">Log out</a>


    
 
